body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

ul, ol {
list-style-type: none;
padding: 0;
margin: 0;
}

a {
text-decoration: none;
}

.container {
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

.header-container {
display: flex;
align-items: center;
}

/* <!---------HEADER---------> */

.page-header {
border-bottom: 1px solid #e7e9fc;
}

.main-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.main-logo-color {
color: #2e2f42;
}

.page-nav {
display: flex;
align-items: center;
}

.nav-menu {
 display: flex;
 gap: 40px;
}

.menu-item {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}

.menu-link {
color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
color: #404bbf;
}

.address-menu {
 display: flex;
 gap: 40px;
}

.link-address {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
}

.link-address:hover,
.link-address:focus {
color: #404bbf;
}

.page-address {
font-style: normal;
margin-left: auto;
}
/*<!---------HERO---------> */

.main-hero {
background: #2e2f42;
width: 1440px;
padding: 188px 0;
}

.main-hero-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
max-width: 496px;
text-align: center;
margin-left: 471px; 
}

.hero-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
display: block;
height: 56px;
border: none;
margin-left: 635px;
}

.hero-button:hover,
.hero-button:focus {
background: #404bbf;
cursor: pointer
}


/* <!---------INFO---------> */

.main-subtitle {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.main-page-subtitle {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.main-description {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*<!---------Our Team----------> */

.main-our-team {
background-color: #F4F4FD;
}

.main-subtitle {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize
}

.our-team-list {
background-color: #FFFFFF
}


.main-name-surname {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.main-description-team {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/*<!---------FOOTER---------> */

.footer-description {  
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-logo-description {
background-color: #2e2f42;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-logo-color {
color: #f4f4fd;
}